.Rproj.user
.Rhistory
.Rapp.history
.Rdata
.Rapp.history
.httr-oauth

*.bak
*.tmp
*.swp
.DS_Store

*.o
*.so
*.dll
*.pdf
*.png
*.jpg
*.jpeg
*.rds
*.rda
*.csv
*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.tex
*.dta
*.fls
*.fdb_latexmk
*.synctex.gz
*.aux
data-raw/*/*
!data/*.rda
docs
