.Rproj.user
.Rhistory
.Rapp.history
.Rdata
.Rapp.history
.httr-oauth

*.bak
*.tmp
*.swp
.DS_Store
.air.toml

*.o
*.so
*.dll
*.pdf
*.png
*.jpg
*.jpeg
*.rds
*.rda
*.csv
*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.tex
*.dta
*.fls
*.aux

data-raw/*/*
!data/*.rda
docs

todo.txt
inst/doc
compile_commands.json
.cache
